@CHARSET "ISO-8859-1";

#log{
	color:darkRed;
	font-family: new times roman;
	font-size: 30px;
	padding-top: 20px;
}
/* body */
body {
	background-color: white;
	font-family: New Times Roman;
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

/***** menu *****/
#tabSmallPage {
	display: none;
}

#main_menu {
	background-color: #ffcc00;
	height: 87px;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0%;
	overflow: hidden;
	
}

li { /*Lista*/
	font-family: auto;
	font-size: small;
	size: 100;
	float: left;
}

li a { /*disposizione*/
	display: block;
	color: black;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	font-size: 1.7em;
	weight: 87px;
	height: 67px;
	margin-right: 15px;
}



ul#menu ul {
	margin: 0;
	padding: 5px;
	display: right;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	overflow: hidden;
	background-color: rgba(95, 95, 111, 0.8);
	
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
	
}

/***** Fine Menu *****/
.icon {
	height: 100px;
	width: 100px;
	padding-left: 15px;
	padding-rignt: 15px;
	padding-bottom: 25px
}

.current {
	width: 100px;
	height: 80px;
}

.has_children {
	padding-bottom: 0px;
	width: 100px;
	height: 30px;
	color: ;
	
}

.rightIcon {
	align: right;
}

.quote {
	font-family: New Times Roman;
	font-size: 50px;
	color: #ffcc00;
	padding-top: 29px;
}

div.navbar {
	position: relative;
	display: block;
	padding: 0px;
}

/* SEZIONE RESPONSIVE */
q, blockquote {
	quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none
}

input.toggle, label.toggle {
	display: none
}

label.toggle {
	font-weight: 100;
	font-size: 1.2em;
	padding: 10px 10px;
	color: #FFF;
}

@media ( max-width : 960px) {
	/* SEZIONE BARRA NAVIGAZIONE */
	nav {
		display: none
		
	}
	input.toggle, .toggle span {
		display: none
	}
	input[type=checkbox]:checked ~ nav, label.toggle {
		display: block;
		cursor: pointer
	}
	nav li {
		float: none
	}
	nav li:hover ul {
		display: block;
		position: relative;
	}
	nav li ul {
		display: block
	}
	nav li ul li {
		margin-left: 20px
	}
	nav li a {
		display: block;
		margin-left: 20px
	}
	#tabSmallPage {
		display: initial
	}
	#main_menu {
		height: 100%;
	}
	.current {
		width: 100%;
		padding-bottom: 100px;
		float: center;
	}
	.has_children {
		padding-bottom: 100px;
		width: 100%;
		float: center;
	}

	/* SEZIONE TABELLA PAGINA PRODOTTI */
	#tabBigPage {
		/*
		visibility: hidden;
		position: absolute;
		top: -9999px;
		left: -9999px;
		*/
		display: none;
		/* NASCONDE LA TABELLA CONTENENTE I DETTAGLI SUL PRODOTTO 
						  SE LA DIMENSIONE DELLA FINESTRA DIVENTA TROPPO PICCOLA */
	}
}
}
}